* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background: #121116;
    /* background-image: url(img/descarga.jpg); */
}

/*}ESTILOS DE EL ENCABEZADO */
header{
    margin-bottom: 20px;
}
header h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f00;
}

/*ESTILO CONTENEDOR PRINCIPAL */
.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-image: url(img/monja.jpg);
    background-image: no-repeat;
    /* background-image: fixed; */
    background-image: center;
    background-size: 100% 100%;
    border-radius: 20px;
}

.main_container h2 {
    margin-bottom: 20px;
    font-family: 'Gothic', sans-serif;
    font-size: 100%;
    color: #3A3B36;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    box-shadow: 1px 5px 2px 1px;
}
section{
    display: flex;
    flex-direction: column;
}

p {
    font-size: 15px;
    margin-left: 2%;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
    /*Animaci贸n*/
    position: relative;
    animation-name: star;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes star {
    from{left: -5px;}
    to{left: 5px;}
}

/*Estilos de bot贸nes*/

.options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 70%;
    justify-content: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000; /* Color crema */
    border: none;
    color: #fff; /* Marr贸n oscuro */
    text-align: center;
    font-size: 20px;
    padding: 20px 40px; /* Mayor espaciado horizontal */
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Fuente estilo medieval */
    text-decoration: none; /* Quita el subrayado */
    position: relative; /* Posicionamiento relativo */
    overflow: hidden; /* Oculta elementos que se salgan del bot贸n */
}


.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('path/to/parchment.png'); Ruta a la imagen del pergamino */
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.2; /* Opacidad del pergamino */
}

.button:hover {
    background-color: red; /* Cambia a oro en el hover */
    color: #000; /* Cambia a marr贸n oscuro en el hover */
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}  
.button:hover span {
    padding-right: 25px;
}  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* 
audio {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
} */