body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url(../img/monja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
      }
      
canvas{
    border:white thin;
    position: absolute;
    z-index: -1;
}

canvas{
    width: 500;
    height: 200;
      }
      
h1 {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    color: lightgrey;
    z-index: 1;
    /* box-shadow: 1px 1px 10px ; */
    background: #ff0000;
    color: #fff;
    font-size: 30px;
    border: 1px #ff0000 solid;
    border-radius: 10px;
      }


.controls {
    display: grid;
    grid-template-columns: 50px 150px;
    color: lightgrey;
    margin-bottom: 20px;
      }
      
h2{
    font-size: 30px;
    margin-top: 0;
      }

.controls{
    margin-top: 0;
      }




.next #second{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    margin-top: 520px;
    margin-right: 200px;
    margin-left: 200px;
}

#first{
       width: 80px;
    height: 50px;
    box-shadow: 1px 1px 10px;
    margin-left: 60px;
    background: #ff0000;
    color: #fff;
    font-size: 16px;
    border: 1px #ff0000 solid;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

#second {
    box-shadow: 1px 1px 10px ;
    margin-left: 60px;
    background: white;
    color: black;
    font-size: 25px;
    border: 1px #000 solid;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

#tercer{
    width: 80px;
    height: 50px;
    box-shadow: 1px 1px 10px;
    margin-left: 60px;
    background: #ff0000;
    color: #fff;
    font-size: 16px;
    border: 1px #ff0000 solid;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

#first:hover {
    background-color: #000;
    color: #ff0000;
    box-shadow: 1px 1px 10px;

    
  }



#tercer:hover {
    background-color: #000;
    color: #ff0000;
    box-shadow: 1px 1px 10px;

  }


